In [163]:
import pandas as pd
import requests
from bs4 import BeautifulSoup
import numpy as np

In [179]:
import requests
from bs4 import BeautifulSoup
import pandas as pd
import numpy as np

final = pd.DataFrame()

for j in range(1, 21):
    webpage = requests.get('https://priceoye.pk/mobiles?page={}'.format(j)).text
    soup = BeautifulSoup(webpage, 'lxml')

    ph_names = []
    disc_price = []
    Act_price = []
    disc_applied = []

    company = soup.find_all('div', class_='detail-box')
    for i in company:
        try:
            ph_names.append(i.find('div', class_='p-title bold h5').text.strip())
        except:
            ph_names.append(np.nan)
        try:
            disc_price.append(i.find('div', class_='price-box p1').text.strip())
        except:
            disc_price.append(np.nan)        
        try:
            Act_price.append(i.find('div', class_='price-diff-retail').text.strip())
        except:
            Act_price.append(np.nan)
        try:
            disc_applied.append(i.find('div', class_='price-diff-saving').text.strip())
        except:
            disc_applied.append(np.nan)

    df = pd.DataFrame({
        'Phone_name': ph_names,
        'discounted_price': disc_price,
        'Actual_price': Act_price,
        'Discount_applied': disc_applied,
    })

    final = pd.concat([final, df], ignore_index=True)

# Now 'final' DataFrame contains all the data
print(final)

               Phone_name discounted_price Actual_price Discount_applied
0    Xiaomi Redmi Note 13       Rs  45,999   Rs  52,999          13% OFF
1          Nokia 106 2023        Rs  4,299    Rs  4,999          14% OFF
2       Nokia 105 Classic        Rs  3,699    Rs  4,199          12% OFF
3          Nokia 105 2023        Rs  4,099    Rs  4,699          13% OFF
4         VGO TEL Note 23       Rs  27,299   Rs  31,999          15% OFF
..                    ...              ...          ...              ...
677            Calme C888        Rs  3,299          NaN              NaN
678       Memobile ismart        Rs  3,198          NaN              NaN
679      Gresso SILK SLIM        Rs  3,400          NaN              NaN
680       XMobile X6 Lite        Rs  3,299          NaN              NaN
681             Calme C16        Rs  2,999          NaN              NaN

[682 rows x 4 columns]

In [177]:
final.tail()

           Phone_name discounted_price Actual_price Discount_applied
677        Calme C888        Rs  3,299          NaN              NaN
678   Memobile ismart        Rs  3,198          NaN              NaN
679  Gresso SILK SLIM        Rs  3,400          NaN              NaN
680   XMobile X6 Lite        Rs  3,299          NaN              NaN
681         Calme C16        Rs  2,999          NaN              NaN

In [180]:
final.to_csv('price_oye_mobiles_data.csv')